* {
	
	margin: 0;
	padding: 0;
	
}

body {
	
	background:#E9DCC9;
	
}

h1 {
	
	text-transform:uppercase;
	font-family:The Seasons;
	
}

.navbar {

width:100%;
height:150px;
align-items:center;
background:#21130d;
color:#fff;

	
}

.logo {

width:120px;
height:auto;
padding:20px 100px;
border-radius:50%;
	
}

.navbar ul {
	
	float:right;
	margin-right:20px;
}

.navbar ul li {
	
	list-style:none;
	margin:50px;
	display:inline-block;
	line-height:50px;
	
}

.navbar li a {
	
	color:#fff;
	text-decoration:none;
}


.navbar ul li a:hover {
	
	background:white;
	color:#000;
	
}

.section-area {
	
	margin:20px;
}

.section-box {
	
	margin:20px;
	padding:50px;
	border: 3px solid black;
	font-size:24px;
	
}

.logo_section {
	
	float:right;
	padding:50px;
}

.footer {
	
	align-items:center;
	margin:20px;
	padding:20px;
	
}

.footer ul li {
	
		list-style-type:none;
		text-align:center;
		margin:20px;
}

.footer ul li a {
	
	text-decoration:none;
	color:#000;
	font-size:25px;
	text-transform:uppercase;
	
}

.footer ul li a:hover {
	
	text-decoration:none;
	color:#000;
	background:#21130d;
	color:#fff;
	
	
}








